{% load static %}
{% static "images" as baseurl %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <title>Tour Management System Dashboard</title> 
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    </head>
    <body>

        <input type="text" id="check">
        <!--header area  start-->
        <header>
           <label for="">
            <i class="fa fa-bars" aria-hidden="true"></i>
           </label>
          <div class="left_area">
            <h3><span>Gantabya</span></h3>
          </div>
          <div class="right-area">
            <a href="#" class="logout_btn">Logout</a>
          </div>
        </header>
        <!--header area end -->
        <!--sidebar start -->
        <div class="sidebar">
            <center>
              <img src="{% static 'Images/profile.png' %}"  class="profile_image" alt="">
              <h4>Tour Management System</h4>
            </center>
            <a href="{% url 'home'%}"><i class="fa fa-desktop" aria-hidden="true">Dashboard</i></a>
            <a href="{% url 'Tourpackages'%}"><i class="fa fa-navicon" aria-hidden="true">Tour Packages</i></a>
            <a href="{% url 'AboutUs'%}"><i class="fa fa-info-circle" aria-hidden="true">About Us</i></a>
        </div>
        <!--sidebar end-->

        <div class="content"></div>

    </body>
</html> 